.col-1 {
    background-color: goldenrod;
    box-shadow: 2px 2px 5px;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}